<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-list>

            <ion-item>
                <button ion-item *ngFor="let page of pages" (click)="openPage(page)" menu-Close>{{ page.title }}</button>
            </ion-item>

            <ion-item *ngFor="let c of categorias">

                <ion-thumbnail item-start>
                    <img src="assets/imgs/{{ c.imagem }}">
                </ion-thumbnail>

                <h2>{{ c.name }}</h2>

                <p>{{ c.descr }}</p>

                <button ion-button clear item-end>Ver</button>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
